* {
    box-sizing: border-box;
}

.title {
    font-family: 'Brush Script MT';
    text-align: center;
    font-weight: normal;
}

.para-title {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

.grid-border {
    border: solid black 1px;
}

.outer-column {
    width: 25%;
    padding: 10px;
}

.middle-column {
    width: 50%;
}

.nav-column {
    width: 75%;
}

.center {
    display: flex;
    align-items:stretch;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
}

.table {
    margin: 10px;
}

.politics {
    background-color: #FFFACD;
}

.technology {
    background-color: #E6E6FA;
}

.local {
    background-color: #FFF0F5;
}

.opinion {
    background-color: #F0FFF0;
}

.sports {
    background-color: #FFFAF0;
}

.nav-item {
    display: flex;
    flex-direction: column;
    height: 20%;
    padding: 0px;
}

.nav-title {
    font-family: "Consolas";
    font-weight:bolder;
    font-size:xx-large;
    margin: 20px;
}